* 
{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}
a
{
    text-decoration: none !important;
    color: #4183c4 !important;
}
.logo{
  font-size: 40px
}

.App{
  width: 100%;
  height: 100%;
}
#dark .filter{
  box-shadow: -1px -3px 52px 0px rgba(73,87,87,0.75);
  -webkit-box-shadow: -1px -3px 52px 0px rgb(200 212 221 / 63%);
  -moz-box-shadow: -1px -3px 52px 0px rgba(73,87,87,0.75);
background-color: #727272;;

}
.filter span{
  color: #222 !important;
}

#dark .filter span{
  color: #fff !important;

}
#dark .filter p , span{
  color: #fff !important;

}
#dark .logo{
  color: #fff;
}
#light{
  background-color: #fff;
}
#dark{
  background-color: rgb(30, 30, 30);
}

#dark .ui.menu.fixed {
  background-color: rgb(30, 30, 30);
  border-bottom: 1px solid #fff;
}

.header-links{
  display: flex;
  margin-right: 200px;
}
#dark .header-links a{
  color: #fff !important;
}

.switch{
  z-index: 1000;
  top: 20px;
  left: 87%; 
  position: fixed !important;
}
.switch-label{
  position: fixed;
  z-index: 1000;
  top: 20px;
  right: 20px;
  font-size: 16px;
  font-weight: bold;
}
#dark .switch-label{
  color: #fff;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a{
  margin-right: 30px;
}
  .ui.cards > .card > .image {
    height: 250px;
    padding: 20px;
    width: 100%;
    background: green;
    margin: auto;
    text-decoration: none !important;
  }

  .ui.cards > .card > .image.bron {
    background: red !important;
    overflow-y: scroll;
  }

 

  .ui.cards > .card > .image.floor{
    background: white;
  }

  .ui.cards > .card > .image > img {
    height: 100%;
    max-width: 100%;
    width: auto;
  }
  .ui.cards > .card > .content > .header {
    height: 48px;
    width: max-content;
    margin-bottom: 5px;
  }
  .ui.cards > .card > .content > .description {
    height: 36px;
    margin-bottom: 0px;
    overflow: hidden;
  }
  .ui.cards > .card .meta.price {
    margin-bottom: 5px;
    font-size: 18px;
    color: #333;
    font-weight: 600;
  }
  
  .ui.cards > .card .meta.price > a {
    font-size: 1.3rem;
    color: #222;
  }
  
  .ui.menu.fixed {
    height: 60px;
    padding-top: 15px;
  }
  
  .ui.grid.container {
    margin-top: 45px;
  }
  
  .ui.grid > .row {
    background:green;
  }
  .ui.grid > .row > .column.lp {
    padding: 20px 40px 20px 20px;
    align-self: flex-start !important;
  }
  .ui.grid > .row > .column.rp {
    padding: 20px 20px 20px 40px;
    text-align: left;
    width: max-content !important;
    align-self: flex-start !important;
  }
  
  .ui.grid > .row > .column > img,
  .ui.grid > .row > img {
    height: 100%;
  }
  .ui.placeholder .header:not(:first-child):before,
  .ui.placeholder .image:not(:first-child):before,
  .ui.placeholder .paragraph:not(:first-child):before {
    display: none;
  }
  
  .ui.label,
  .ui.labels .label {
    font-size: 22px;
  }
  
  .column.rp h1 {
    color: #333;
  }
  .column.rp p {
    font-size: 18px;
    color: #777;
  }
  .ui.placeholder.segment .column .button,
  .ui.placeholder.segment .column .field,
  .ui.placeholder.segment .column textarea,
  .ui.placeholder.segment .column > .ui.input {
    background-color: #ff3e6c;
    color: #fff;
    font-size: 18px;
    margin-left: 0;
  }


.bron-forms{
  width: 500px;
  margin: 0 auto;
  
}

.bron-forms h1{
  text-align: center;
  margin: 50px 0;
}
.bron-form{
  display: flex;
  flex-direction: column;
}

.bron-form input{
  margin-bottom: 5px;
  border: 1px solid gray;
  outline: none;
  box-shadow: none;
  padding: 15px 10px;
  border-radius: 4px;
  width: 100%;
}
.form-inputs{
  margin-bottom: 15px;
}
.error{
  color: rgb(160, 7, 7);
}

.form-inputs span{
  color: #222 !important;
}

#dark .form-inputs span{
  color: #fff !important;
}

.bron-form button{
  border: 1px solid gray;
  outline: none;
  box-shadow: none;
  padding: 15px 10px;
  border-radius: 4px;
  background-color: #0d6efd;
  color: #fff;
  font-size: 20px;
}

.form-dates{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bron-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bron-link{
  display: flex;
  justify-content: end;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
}

.back{
  margin-top: 20px;
  padding: 5px 10px;
  border: 1px solid gray;
  outline: none;
  box-shadow: none;
  border-radius: 4px;
  background: white;
  float: right;
}

.bron-date{
  color: #fff;
  font-size: 15px;
  text-decoration: none !important;
}


.room-details{
  padding: 10px 20px;
  background-color: green;
  width: 200px;
  height: 200px;
  border-radius: 4px;
}

ol{
  color: white;
}

ol li{
  margin-bottom: 10px;
}

ol li p{
  margin-bottom: 5px !important;
}

.filter{
  margin-top: 50px;
  padding:60px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.date-warning{
  word-spacing: 9px;
  font-size: 40px;
  color: brown;
}

.MuiFormControl-root , .MuiButton-contained{
  margin-right: 10px !important;
}

.bron-bodies{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.bron-body{
  padding: 20px;
  border-radius: 4px;
  background-color: green;
  margin: 20px 0;
}
.bron-body.bron{
  background-color: red;
}

.bron-item{
  font-weight: bold;
  color: #fff;
}
.bron-item span{
  font-weight: 300;
}

.content-bron{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-date{
  display: flex;
  align-items: center;
}
.filter-price{
  margin-bottom: 40px;
}

.login{
  margin-top: 100px !important;
  width: 500px;
  margin: 0 auto;
}

.login-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form input, .login-form button {
  padding: 10px 20px;
  border: 1px solid gray;
  outline: none;
  box-shadow: none;
}

.login-register{
  display: flex ;
}



